body {
  background-color: whitesmoke;
}
body h3 {
  font-weight: 400;
}

header {
  background-color: lightblue;
  justify-content: space-between;
}
header h1 {
  margin: 0.5em 0 0.5em 0;
  text-align: center;
  font-size: 1.5em;
}
header .groupies {
  margin-bottom: 0.5em;
  display: flex;
  justify-content: center;
}
header .groupies span {
  margin-left: 10px;
  margin-right: 10px;
}
header .bell-icon {
  height: 25px;
  width: 25px;
  margin: auto 0;
}
header .bell-icon :hover {
  transition: all 0.5s ease-out;
  stroke-width: 2px;
  stroke: #0aee0a;
}
header span {
  border-left: 1px solid black;
  height: 30px;
  margin-top: auto;
  margin-bottom: auto;
  border-color: white;
}
header .user {
  display: flex;
}
header .user img {
  margin: auto 10px auto 0;
  height: 35px;
  width: 35px;
  border-radius: 50%;
}
header .user h3 {
  font-weight: 300;
  font-size: 0.9em;
  margin: auto 0;
}
header #notifications {
  display: inherit;
}

.navigation {
  background-color: slategray;
  text-align: center;
  padding: 0.5em 0;
}
.navigation img {
  height: 30px;
  width: 15vw;
  margin-top: 0;
}

.main-header {
  display: flex;
  justify-content: space-between;
}
.main-header h3 {
  padding: 0 1em;
  font-weight: 400;
}
.main-header .main-header-search {
  background-color: #e9e6e6;
  line-height: 3em;
  border-bottom-left-radius: 10px;
  text-align: right;
  width: -webkit-fill-available;
}
.main-header input {
  border: 1px solid darkgrey;
  border-radius: 5%;
  padding: 0;
  margin-right: 0.5em;
  vertical-align: -webkit-baseline-middle;
  line-height: 2em;
}
.main-header input::placeholder {
  color: lightgray;
  padding-left: 0.5em;
}

.alert {
  background-color: lightblue;
  border-radius: 5px;
  margin: 1em;
  text-align: center;
}
.alert p {
  margin: 0 0.5em 0 0.5em;
  padding: 5px 0em 5px 0em;
}

.traffic {
  background-color: #e2e1e1;
  padding-bottom: 1em;
}
.traffic .traffic-header {
  margin: 0 0.5em 0 0.5em;
}
.traffic .traffic-header h3 {
  padding: 0.5em 0 0.5em 0;
  margin: 0;
}
.traffic .traffic-header .traffic-nav {
  margin-bottom: 0.5em;
}

.daily {
  padding-bottom: 1em;
}
.daily h3 {
  margin-top: 0.5em;
}

.mobileUsers {
  padding-bottom: 1em;
  background-color: #e2e1e1;
}
.mobileUsers h3 {
  margin: 0 0.5em 0 0.5em;
  padding: 0.5em 0 0.5em 0;
}

.social-container {
  padding-bottom: 0.5em;
}
.social-container h3 {
  margin: 0 0.5em 0 0.5em;
  padding: 0.5em 0 0.5em 0;
}
.social-container .icon {
  height: 50px;
  width: 50px;
  background-color: lightblue;
  border-radius: 50%;
  padding: 0.5em;
  margin: auto 0;
}
.social-container .social-image {
  display: flex;
  margin: 0.5em;
  justify-content: space-evenly;
}
.social-container .social-image .social-text {
  width: 35%;
  margin: auto 0;
}
.social-container .social-image .social-text p {
  margin: 0;
}
.social-container .social-image .social-text p:nth-of-type(2) {
  font-size: 2em;
  font-weight: 300;
  color: slategray;
}

.members {
  padding-bottom: 1em;
  background-color: #e2e1e1;
}
.members h3 {
  margin: 0 0.5em 0 0.5em;
  padding: 0.5em 0 0.5em 0;
}
.members .members-container {
  margin: 0.5em;
  display: flex;
}
.members .members-container #date {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  font-size: 0.9em;
}
.members .members-container img {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}
.members .members-container .members-text {
  margin-left: 0.5em;
  font-size: 0.9em;
}
.members .members-container .members-text p {
  margin: 0;
}

.recentActivity {
  padding: 0.5em 0 0.5em 0;
}
.recentActivity h3 {
  margin: 0 0.5em 0 0.5em;
}
.recentActivity img {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  margin: auto 0;
}
.recentActivity .members-container {
  background-color: lightblue;
  display: flex;
  margin: 1em 0.5em 1em 0.5em;
  padding: 0.5em;
}
.recentActivity .members-container .members-text {
  font-size: 0.9em;
  margin-left: 0.5em;
  width: 70%;
}
.recentActivity .members-container .members-text p {
  margin: auto;
}
.recentActivity .members-container .members-text p:nth-of-type(2) {
  margin-top: 0.5em;
  font-weight: 700;
}
.recentActivity .members-container p {
  margin-top: auto;
  margin-left: auto;
  margin-right: 0.5em;
}
.recentActivity .members-container > p {
  font-weight: 600;
}

.message {
  background-color: #e2e1e1;
  padding: 0.5em;
}
.message h3 {
  margin: 0 0 0.5em 0;
}
.message form input,
.message form textarea,
.message form button {
  display: block;
  margin: 0.5em 0 0.5em 0;
  width: -webkit-fill-available;
  border: 0;
  border-radius: 5px;
}
.message form input {
  height: 2em;
}
.message form ::placeholder {
  padding-left: 0.5em;
}
.message form button {
  height: 2.5em;
  background-color: lightblue;
  color: white;
  font-size: 1.2em;
}

.settings {
  margin: 0 0.5em 1em 0.5em;
}
.settings h3 {
  margin: 0.5em 0 0.7em 0;
}
.settings label {
  display: flex;
  margin-bottom: 1em;
}
.settings label p {
  margin: auto 0;
  width: 70%;
}
.settings select {
  width: -webkit-fill-available;
  height: 2.5em;
  margin-top: 1em;
  margin-bottom: 1.4em;
  padding-left: 0.5em;
}
.settings select,
.settings button {
  border: 0;
  border-radius: 5px;
}
.settings .settings-button button {
  width: 48%;
  height: 2.5em;
  background-color: lightblue;
  color: white;
  font-size: 1.2em;
}

.grid-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas: "header" "navigation" "main";
}
.grid-container .header {
  grid-area: header;
}
.grid-container .navigation {
  grid-area: navigation;
}
.grid-container .main {
  grid-area: main;
}
.grid-container .main .daily {
  margin-left: 0.5em;
  margin-right: 0.5em;
}
.grid-container .widget-container-full,
.grid-container .widget-container-half {
  width: 95vw;
}

@media (min-width: 768px) {
  body h3 {
    font-weight: 400;
  }

  header {
    display: flex;
    height: 80px;
  }
  header h1 {
    margin: auto 0;
    margin-left: 1em;
    font-size: 1.7em;
  }
  header .groupies {
    margin: auto 0;
  }
  header .bell-icon {
    height: 30px;
    width: 30px;
  }
  header span {
    height: 40px;
  }
  header .user {
    display: flex;
  }
  header .user img {
    margin: auto 10px auto 0;
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }
  header .user h3 {
    font-weight: 400;
    font-size: 1.2em;
    margin-right: 1em;
  }

  .navigation {
    background-color: slategray;
    max-width: 80px;
  }
  .navigation img {
    height: 65px;
    width: 40px;
    margin: 1em;
  }

  .main-header {
    display: flex;
    justify-content: space-between;
  }
  .main-header h3 {
    padding: 0 1em;
    font-weight: 400;
  }
  .main-header .main-header-search input {
    line-height: 2em;
    border: 1px solid darkgrey;
    border-radius: 5px;
    padding: 0;
    margin-right: 1em;
    vertical-align: -webkit-baseline-middle;
    width: 35vw;
  }

  .alert-banner {
    display: flex;
    justify-content: space-between;
    text-align: left;
    height: 3em;
    margin: auto 0;
    margin-left: 1em;
    margin-right: 1em;
  }
  .alert-banner p,
.alert-banner .alert-banner-close {
    margin: auto 0;
  }
  .alert-banner .alert-banner-close {
    font-size: x-large;
  }

  .traffic {
    background-color: transparent;
    border-bottom: 1px solid grey;
  }
  .traffic .widget-container-full {
    margin: auto;
  }
  .traffic .traffic-header {
    display: flex;
    justify-content: space-between;
    margin: 0 0.5em 0 0.5em;
  }
  .traffic .traffic-header .traffic-nav {
    background-color: transparent;
    width: 50%;
    height: 5.5vh;
    margin-bottom: 0;
    margin-top: 1em;
  }
  .traffic .traffic-header .traffic-nav input {
    margin-bottom: 0;
  }
  .traffic .traffic-header .traffic-nav a {
    margin-bottom: 0;
    border-radius: 30px;
    height: 2em;
    -webkit-tap-highlight-color: transparent;
    outline: none !important;
  }
  .traffic .traffic-header .traffic-nav label {
    color: darkgrey;
    font-weight: lighter;
  }
  .traffic .traffic-header .traffic-nav input:focus,
.traffic .traffic-header .traffic-nav input[type=radio]:focus,
.traffic .traffic-header .traffic-nav input:active,
.traffic .traffic-header .traffic-nav input[type=radio]:active {
    outline: none !important;
    -webkit-tap-highlight-color: transparent;
  }
  .traffic .traffic-header .traffic-nav input {
    outline: none !important;
    -webkit-tap-highlight-color: transparent;
  }

  .daily {
    width: max-content;
    border-right: 1px solid grey;
  }

  .mobileUsers {
    padding-bottom: 1em;
    background-color: transparent;
  }
  .mobileUsers h3 {
    margin: 0 0.5em 0 0.5em;
    padding: 0.5em 0 0.5em 0;
  }

  .daily,
.mobileUsers {
    padding: 0.5em;
  }

  .social-container {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
  }
  .social-container h3 {
    padding: 1em 0 1em 0;
  }
  .social-container .groupies2 {
    display: flex;
    justify-content: space-between;
  }
  .social-container .groupies2 .icon {
    background-color: slategray;
    border-radius: 15px;
    padding: 0.5em;
    margin: auto 0;
  }
  .social-container .groupies2 .social-image {
    width: 30%;
    background-color: lightblue;
    margin: 0 0.5em 1em 0.5em;
    padding: 1em 1.5em 1em 1.5em;
    border-radius: 5px;
  }
  .social-container .groupies2 .social-image .icon {
    margin-right: 1em;
    border-radius: 50%;
    height: 50px;
    width: 50px;
  }
  .social-container .groupies2 .social-image .social-text {
    width: max-content;
    text-align: left;
  }
  .social-container .groupies2 .social-image .social-text p {
    margin: 0;
    font-size: larger;
  }
  .social-container .groupies2 .social-image .social-text p:nth-of-type(2) {
    font-size: 2em;
    font-weight: 300;
    color: #498ccf;
  }

  .members {
    background-color: transparent;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
  }
  .members .members-container {
    border-bottom: 1px solid lightgrey;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-bottom: 1em;
  }
  .members .members-container img {
    height: 40px;
    width: 40px;
  }
  .members .members-container .members-text {
    font-size: 1em;
  }
  .members .members-container #date {
    font-size: 1em;
  }

  .recentActivity {
    border-bottom: 1px solid grey;
  }
  .recentActivity h3 {
    padding-bottom: 0.5em;
  }
  .recentActivity img {
    height: 40px;
    width: 40px;
    margin-top: 0;
  }
  .recentActivity .members-container {
    background-color: transparent;
    border-bottom: 1px solid lightgrey;
    padding-top: 0;
    padding-bottom: 1em;
  }
  .recentActivity .members-container .members-text {
    font-size: 1em;
    margin-left: 0.5em;
    width: 80%;
  }
  .recentActivity .members-container .members-text p {
    margin: auto;
  }
  .recentActivity .members-container .members-text p:nth-of-type(2) {
    margin-top: 0.5em;
    font-weight: 500;
  }

  .message {
    background-color: transparent;
    padding: 0.5em;
  }
  .message h3 {
    margin: 0 0 0.5em 0;
  }
  .message form input,
.message form textarea,
.message form button {
    display: block;
    margin: 0.5em 0 0.5em 0;
    width: -webkit-fill-available;
    border: 0;
  }
  .message form input {
    height: 2em;
  }
  .message form button {
    height: 2.5em;
    background-color: lightblue;
    color: white;
    font-size: 1.2em;
  }

  .settings label p {
    width: 200px;
  }

  .grid-container {
    grid-template-columns: auto 1fr;
    grid-template-areas: "header header" "navigation main";
  }
  .grid-container .main {
    display: grid;
    grid-template-columns: 50%;
  }
  .grid-container .main .main-header,
.grid-container .main .alert {
    grid-column: 1/span 2;
  }
  .grid-container .main .traffic,
.grid-container .main .social-container {
    grid-column: 1/span 2;
  }
  .grid-container .main .daily,
.grid-container .main .members,
.grid-container .main .message {
    grid-column: 1/span 1;
  }
  .grid-container .main .mobile,
.grid-container .main .activity,
.grid-container .main .settings {
    grid-column: 2/span 1;
  }
  .grid-container .main .widget-container-full {
    width: 90vw;
  }
  .grid-container .main .widget-container-half {
    width: 45vw;
  }
}

/*# sourceMappingURL=styles.css.map */
