body {
    background-color: whitesmoke;
    h3{
        font-weight: 400;
    }
}

header {
    background-color: lightblue;
    justify-content: space-between;
        h1 {
            margin: .5em 0 .5em 0;
            text-align: center;
            font-size: 1.5em;
        }       
        .groupies {
            margin-bottom: .5em;
            display: flex;
            justify-content: center;
            span {
                margin-left: 10px;
                margin-right: 10px;
            }
        }
        .bell-icon{
            height: 25px;
            width: 25px;
            margin: auto 0;
            :hover{
                transition: all .5s ease-out;
                stroke-width: 2px;
                stroke:rgb(10, 238, 10);
            }
        }
        span {
            border-left: 1px solid black;
            height: 30px;
            margin-top: auto;
            margin-bottom: auto;
            border-color: white;
        }        
        .user{
            display: flex;
            img{
                margin: auto 10px auto 0;
                height: 35px;
                width: 35px;
                border-radius: 50%;
            }
            h3{
                font-weight: 300;
                font-size: .9em;
                margin:auto 0;
            }
        }
        #notifications {
            display: inherit;
        }
}

.navigation {
    background-color: slategray;
    text-align: center;
    padding: .5em 0;
    img {
        height: 30px;
        width: 15vw;
        margin-top: 0;
    }
}

.main-header{
    display: flex;
    justify-content: space-between;
    h3{
        padding: 0 1em;
        font-weight: 400;
    }
    .main-header-search{
        background-color: rgb(233, 230, 230);
        line-height: 3em;
        border-bottom-left-radius: 10px;
        text-align: right;
        width: -webkit-fill-available;
    }
    input {
        border: 1px solid darkgrey;
        border-radius: 5%;
        padding:0;
        margin-right: .5em;
        vertical-align: -webkit-baseline-middle;
        line-height: 2em;
    } 
    input::placeholder{
        color: lightgray;
        padding-left: .5em;
    }
}

.alert{
    background-color: lightblue;
    border-radius: 5px;
    margin: 1em;
    text-align: center;
    p{
        margin: 0 .5em 0 .5em;
        padding: 5px 0em 5px 0em;
    }
}

.traffic{
    background-color: rgb(226, 225, 225);
    padding-bottom: 1em;
    .traffic-header{
        margin: 0 .5em 0 .5em;
        h3{
            padding: .5em 0 .5em 0;
            margin: 0
        }
        .traffic-nav{
            margin-bottom: .5em;
        }
    }
}

.daily{
    padding-bottom: 1em;
    h3{
        margin-top:.5em;
    }
}

.mobileUsers{
    padding-bottom: 1em;
    background-color:rgb(226, 225, 225);
    h3{
        margin: 0 .5em 0 .5em;
        padding: .5em 0 .5em 0;
        }
}

.social-container {
    padding-bottom: .5em;
    h3{
    margin: 0 .5em 0 .5em;
    padding: .5em 0 .5em 0;
    }
    .icon{
        height:50px;
        width:50px;
        background-color: lightblue;
        border-radius: 50%;
        padding: .5em;
        margin: auto 0;
    }
    .social-image{
        display: flex;
        margin: .5em;
        justify-content:space-evenly;
        .social-text{
            width:35%;
            margin:auto 0;
            p{
                margin:0;
            }
            p:nth-of-type(2){
                font-size: 2em;
                font-weight: 300;
                color: slategray;
            }        
        }
    }
}

.members{
    padding-bottom: 1em;
    background-color:rgb(226, 225, 225);
    h3{
        margin: 0 .5em 0 .5em;
        padding: .5em 0 .5em 0;
        }
        .members-container{
            // border:2px solid black;
            margin: 0.5em;
            display: flex;
            #date{
                margin-top:0;
                margin-bottom:0;
                margin-left: auto;
                font-size: .9em;
            }
                img{
                    height: 35px;
                    width: 35px;
                    border-radius: 50%;
                }
                .members-text{
                    margin-left: .5em;
                    font-size: .9em;
                    p{
                        margin:0;
                    }
                }
        }
}

.recentActivity{
    padding: .5em 0 .5em 0;
    h3{
        margin: 0 .5em 0 .5em;
    }
    img{
        height: 35px;
        width: 35px;
        border-radius: 50%;
        margin: auto 0;
    }
    .members-container{
        background-color: lightblue;
        display: flex;
        margin: 1em .5em 1em .5em;
        padding: .5em;
        .members-text{
            font-size: .9em;
            margin-left: .5em;
            width: 70%;
            p{
                margin: auto;
            }
            p:nth-of-type(2){
                margin-top:.5em;
                font-weight: 700;
            }
        }
        p{
            margin-top: auto;
            margin-left: auto;
            margin-right: .5em;
        }
    }
    .members-container > p {
        font-weight: 600;        
    }
}

.message {
    background-color:#e2e1e1;
    padding: .5em;
    h3{
        margin: 0 0 .5em 0;
    }
    form{
        input,
        textarea,
        button{
            display: block;
            margin: .5em 0 .5em 0;
            width: -webkit-fill-available;
            border: 0;
            border-radius: 5px;
        }
        input{
            height: 2em;
          
        }
        ::placeholder{
            padding-left: .5em;
        }
        button{
            height: 2.5em;
            background-color: lightblue;
            color: white;
            font-size: 1.2em;
        }
    }
}

.settings {
    margin: 0 .5em 1em .5em;
    h3{
        margin:.5em 0 .7em 0;
    }
    label{
        display: flex;
        margin-bottom: 1em;
        // justify-content: space-between;
        p{
            margin: auto 0;
            width: 70%;
        }
    }
    select{
        width: -webkit-fill-available;
        height: 2.5em;
        margin-top: 1em;
        margin-bottom: 1.4em;
        padding-left: .5em;
    }
    select,
    button{
        border: 0;
        border-radius: 5px;
    }
    .settings-button{
        // display: flex;
        // justify-content: space-between;
            button{
                width: 48%;
                height: 2.5em;
                background-color: lightblue;
                color: white;
                font-size: 1.2em;
            }
    }
}

.grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
        "header"
        "navigation"
        "main";
        .header{
            grid-area: header;
        }
        .navigation {
            grid-area: navigation;
        }
        .main {
            grid-area: main;
            .daily{
                margin-left: .5em;
                margin-right: .5em;
            }
        }
        .widget-container-full,
        .widget-container-half {
            width: 95vw;
        }
}

@media (min-width: 768px){

    body{
        h3{
            font-weight: 400;
        }
    }

    header{
        display: flex;
        height: 80px;
        h1 {
            margin: auto 0;
            margin-left: 1em;
            font-size: 1.7em;
        }
        .groupies{
            margin: auto 0;
        }
        .bell-icon{
            height: 30px;
            width: 30px;
        }
        span {
            height: 40px;
        }        
        .user{
            display: flex;
            img{
                margin: auto 10px auto 0;
                height: 50px;
                width: 50px;
                border-radius: 50%;
            }
            h3{
                font-weight: 400;
                font-size: 1.2em;
                margin-right: 1em;
            }
        }
    }

    .navigation {
        background-color: slategray;
        max-width: 80px;
        img {
            height: 65px;
            width: 40px;
            margin: 1em;
        }
    }

    .main-header{
        display: flex;
        justify-content: space-between;
        h3{
            padding: 0 1em;
            font-weight: 400;
        }
        .main-header-search{
            input {
                line-height: 2em;
                border: 1px solid darkgrey;
                border-radius: 5px;
                padding:0;
                margin-right: 1em;
                vertical-align: -webkit-baseline-middle;
                width: 35vw;
            }

        }
    }

    .alert-banner{
        display: flex;
        justify-content: space-between;
        text-align:left;
        height: 3em;
        margin: auto 0;
        margin-left: 1em;
        margin-right: 1em;
        p,
        .alert-banner-close {
            margin: auto 0;
        }
        .alert-banner-close{
            font-size: x-large;
        }
    }
    
    .traffic{
        background-color: transparent;
        border-bottom: 1px solid grey;
        .widget-container-full{
            margin: auto;
        }
        .traffic-header{
            display: flex;
            justify-content: space-between;
            margin: 0 .5em 0 .5em;
            .traffic-nav{
                background-color: transparent;         
                width: 50%;
                height: 5.5vh;
                margin-bottom: 0;
                margin-top: 1em;
                input{
                    margin-bottom: 0;
                }
                a{
                    margin-bottom: 0;
                    border-radius: 30px;
                    height: 2em;
                    -webkit-tap-highlight-color:  transparent; 
                    outline: none !important;
                }
                label{
                    color: darkgrey;
                    font-weight: lighter;
                }
                input:focus, 
                input[type="radio"]:focus,
                input:active,
                input[type="radio"]:active {
                    outline: none !important;
                    -webkit-tap-highlight-color:  transparent; 
                }
                input{
                    outline: none !important;
                    -webkit-tap-highlight-color:  transparent; 
                }

            }
        }
    }

    .daily{
        width: max-content;
        border-right: 1px solid grey;
    }

    .mobileUsers{
        padding-bottom: 1em;
        background-color:transparent;
        h3{
            margin: 0 .5em 0 .5em;
            padding: .5em 0 .5em 0;
        }
    }

    .daily,
    .mobileUsers{
        padding: .5em;
    }

    .social-container{
        border-top: 1px solid grey;
        border-bottom: 1px solid grey;
        h3{
            padding: 1em 0 1em 0;
        }
        .groupies2{
            display:flex;
            justify-content:space-between;
            .icon{
                background-color: slategray;
                border-radius: 15px;
                padding: .5em;
                margin: auto 0;
            }
            .social-image{
                width: 30%;
                background-color:lightblue;
                margin: 0 .5em 1em .5em;
                padding: 1em 1.5em 1em 1.5em;
                border-radius: 5px;
                .icon{
                    margin-right: 1em;
                    border-radius: 50%;
                    height: 50px;
                    width: 50px;
                }
                .social-text{
                    width:max-content;
                    text-align: left;
                    // padding-right: .5em;
                    p{
                        margin:0;
                        font-size: larger;
                    }
                    p:nth-of-type(2){
                        font-size: 2em;
                        font-weight: 300;
                        color: rgb(73, 140, 207);
                    }        
                }
            }
        }
    }

    .members{
        background-color:transparent;
        border-right: 1px solid grey;
        border-bottom: 1px solid grey;
            .members-container{
                border-bottom: 1px solid lightgrey;
                margin-top: 1em;
                margin-bottom: 1em;
                padding-bottom: 1em;
                    img{
                        height: 40px;
                        width: 40px;
                    }
                    .members-text{
                        font-size: 1em;
                    }
                    #date{
                        font-size: 1em;
                    }
            }
    }

    .recentActivity{
        border-bottom: 1px solid grey;
        h3{
            padding-bottom: 0.5em;
        }
        img{
            height: 40px;
            width: 40px;
            // border-radius: 50%;
            margin-top: 0;
        }
        .members-container{
            background-color: transparent;
            border-bottom: 1px solid lightgrey;
            padding-top: 0;
            padding-bottom: 1em;
            .members-text{
                font-size: 1em;
                margin-left: .5em;
                width: 80%;
                p{
                    margin: auto;
                }
                p:nth-of-type(2){
                    margin-top:.5em;
                    font-weight: 500;
                }
            }
        }
    }

    .message {
        background-color: transparent;
        padding: .5em;
        h3{
            margin: 0 0 .5em 0;
        }
        form{
            input,
            textarea,
            button{
                display: block;
                margin: .5em 0 .5em 0;
                width: -webkit-fill-available;
                border: 0;
            }
            input{
                height: 2em;
            }
            button{
                height: 2.5em;
                background-color: lightblue;
                color: white;
                font-size: 1.2em;
            }
        }
    }

    .settings{
        label{
            p{
                width: 200px;
            }
        }
    }

    .grid-container {
        grid-template-columns: auto 1fr;
        grid-template-areas: 
            "header header"
            "navigation main";
    
        .main {
            display: grid;
            grid-template-columns: 50% ;
            .main-header,
            .alert{
                grid-column: 1 / span 2;
            }
            .traffic, 
            .social-container {
                grid-column: 1 / span 2;
            }
            .daily,
            .members,
            .message{
                grid-column: 1 / span 1;
            }
            .mobile,
            .activity,
            .settings {
                grid-column: 2 / span 1;
            }
            .widget-container-full{
                width: 90vw;
            }
            .widget-container-half{
                width: 45vw;
            }
        }
    }
}
